[submodule "engine/third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "engine/third_party/fastgltf"]
	path = third_party/fastgltf
	url = https://github.com/spnda/fastgltf
